    header {
      text-align: left;
      background-size: cover;
      color: #3399CC;
    }
    body {
    background: url('http://s7.postimg.org/8my444ga3/DSC_2784.jpg');
    background-size: 1450px;
    }
    a {
      color: white;
      text-decoration: none;
    }
    h1 {
      font-size: 70px;
      font-family: 'Philosopher', sans-serif;
      padding: 20px;
    }
    h2 {
    font-family: 'EB Garamond', serif;
    color: #333399;
    margin-top: -93px;
    font-size: 35px;
    padding: 20px;
    }
    h3 {
    padding: 20px 20px 15px 20px;
    font-family: 'EB Garamond', serif;
    color: #333399;
    }
    img {
      margin: 30px 0px 0px 0px;
      border-radius: 20px;
    }
  ul.buttons {
      padding: 5px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      font-family: 'Philosopher', sans-serif;
      font-size: 20px;
      opacity: 1;
    }
	div.transbox {
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    margin: -25px 0 0 0;
    padding: 0 0 30px 0;
    }
	a:hover {
    color: #3399CC;
    }
img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
a.writinglist {
	color: #333399;
	}
a.writinglist:hover {
	color: #3399CC;
	}
h3.writinglist {
	font-size: 20px;
	color: #333399;
	padding: 1px;
	line-height: 1px;
	}
h4 {
	font-size: 24px;
	padding: 1px;
	line-height: 1px;
	font-family: 'Philosopher', sans-serif;
	color: white;
	}
ul.writinglist {
	position: relative;
	bottom: 80px;
	}